<div class="container mt-5">
    <form (submit)="onSubmit()" [formGroup]="employeeForm" class="form-group w-75">
        <div class="form-group">
            <label for="firstName" >First Name</label>
            <input type="text" class="form-control" minlength="3" [maxlength]="25" 
            name="firstName" formControlName="firstName" required>
            @if (employeeForm.get('firstName')!.invalid) {
                  @if (employeeForm.get('firstName')!.hasError('required')) {
                    <span class="text-danger mb-3">First Name is required</span>
                  }
                  @if (employeeForm.get('firstName')!.hasError('minlength')) {
                    <span class="text-danger mb-3">First Name must be at least 3 characters long.</span>
                  }
            }
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="lastName" class="form-control" formControlName="lastName" 
            [maxlength]="25" required>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" formControlName="email" 
            [maxlength]="50" [minlength]="6" name="email" required>
        </div>

        <div class="form-group">
            <label for="position">Position</label>
            <input type="text" class="form-control" [maxlength]="15" [minlength]="2"
            formControlName="position" name="position">
        </div>
        <div class="form-group">
            <label for="deptId">Department ID</label>
            <input type="number" class="form-control" min="1"
            formControlName="departmentId" name="departmentId">
        </div>
        <div class="d-flex justify-content-around mt-3">
            <button type="submit" class="btn btn-success align-self-end mt-3">Update Employee</button>

            <button type="button" (click)="GoBack()" class="btn btn-danger mt-3">Cancel</button>
        
        </div>
    </form>
</div>